<%- include("includes/head",{pageTitle: "An error ocurred!"}) %>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Invalid CSRF Token</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nobis molestias, reprehenderit sit quod
            accusamus tempora velit voluptates corporis. Magnam autem odio quo ea iure in, quasi similique ipsa dicta?
        </p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
    
<%- include("includes/footer") %>