<%- include("includes/head",{pageTitle: "An error ocurred!"}) %>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        <h1>Not authorized!</h1>
        <p>You have no authorization to access this content!</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, sapiente rem tempore error omnis vel ipsam
            laboriosam eligendi in quae modi minima sit quisquam quam itaque blanditiis velit quidem veritatis?
        </p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
    
<%- include("includes/footer") %>