<%- include("includes/head",{pageTitle: "An error ocurred!"}) %>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        <h1>Could not find resource</h1>
        <p>Unfortunately we could not find the requested resource!</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus vel rem earum suscipit, deleniti deserunt
            rerum nobis non similique natus illo enim temporibus eligendi provident id adipisci, aperiam dolores.
        </p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
    
<%- include("includes/footer") %>