<%- include("includes/head",{pageTitle: "An error ocurred!"}) %>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately something went wrong - please try again later</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, laudantium. Maiores et deleniti inventore eveniet,
            esse quisquam ipsam distinctio. Totam quis vel sit illo corrupti magni distinctio eaque. Rem, quas.
        </p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
    
<%- include("includes/footer") %>