<%- include("../../shared/includes/head",{pageTitle: "All products"}) %>
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>All products</h1>
        <p>A list of products...</p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, sunt quis! Amet nemo adipisci, quasi illum ullam
            laboriosam ipsum ex! Animi vel fuga neque officia doloremque quaerat voluptates consequuntur voluptatem.
        </p>
    </main>
    
<%- include("../../shared/includes/footer") %>