<%- include("../../shared/includes/head",{pageTitle: "Your orders"}) %>
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Your orders</h1>
        <%- include('../../shared/includes/order-list') %>
    </main>
    
<%- include("../../shared/includes/footer") %>