<%- include("../../shared/includes/head",{pageTitle: "Success"}) %>
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Your payment method failed😥</h1>
        <p>
            Please <a href="mailto:dice-happy-enrich@duck.com">contact</a> the shop owner for more details!
        </p>
    </main>
    
<%- include("../../shared/includes/footer") %>