h1 {
    text-align: center;
    color: var(--color-neon-blue);
}

form {
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--color-dark-blue);
    border-radius: var(--border-radius-medium);
    text-align: center;
}

form a {
    color: var(--color-amber);
}

form a:hover,
form a:active {
    color: var(--color-orange);
}