<%- include("../../shared/includes/head",{pageTitle: "Product administration"}) %>
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Product administration</h1>
        <section>
            <h2>Product management</h2>
            <p><a href="/admin/products/new" class="btn">Add new product</a></p>
        </section>
        <section>
            <p>A list of products...</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam culpa, cum dicta inventore illum, necessitatibus quas
                consequuntur doloremque corrupti cupiditate fugit architecto blanditiis eius reiciendis molestiae rerum omnis magnam
                ducimus.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, aspernatur. Nulla soluta exercitationem doloremque,
                est perspiciatis enim iste! Doloremque ipsam dolorum consectetur et dolor enim modi excepturi asperiores facilis
                voluptate?
            </p>
        </section>
    </main>
    
<%- include("../../shared/includes/footer") %>